In [16]:
import pandas as pd
import numpy as np

In [75]:
df_train = pd.read_csv("../data/train.csv")
df_train.head()

,ID,Age,Gender,Country,Race,Family_Background,Radiation_History,Iodine_Deficiency,Smoke,Weight_Risk,Diabetes,Nodule_Size,TSH_Result,T4_Result,T3_Result,Cancer
0,TRAIN_00000,80,M,CHN,ASN,Positive,Exposed,Sufficient,Non-Smoker,Not Obese,No,0.650355,2.784735,6.744603,2.575820,1
1,TRAIN_00001,37,M,NGA,ASN,Positive,Unexposed,Sufficient,Smoker,Obese,No,2.950430,0.911624,7.303305,2.505317,1
2,TRAIN_00002,71,M,CHN,MDE,Positive,Unexposed,Sufficient,Non-Smoker,Not Obese,Yes,2.200023,0.717754,11.137459,2.381080,0
3,TRAIN_00003,40,F,IND,HSP,Negative,Unexposed,Sufficient,Non-Smoker,Obese,No,3.370796,6.846380,10.175254,0.753023,0
4,TRAIN_00004,53,F,CHN,CAU,Negative,Unexposed,Sufficient,Non-Smoker,Not Obese,No,4.230048,0.439519,7.194450,0.569356,1

In [76]:
train_target = df_train['Cancer']
train_target

0        1
1        1
2        0
3        0
4        1
        ..
87154    1
87155    0
87156    0
87157    1
87158    0
Name: Cancer, Length: 87159, dtype: int64

In [77]:
train_input = df_train.drop("Cancer", axis=1, inplace=False)
train_input

,ID,Age,Gender,Country,Race,Family_Background,Radiation_History,Iodine_Deficiency,Smoke,Weight_Risk,Diabetes,Nodule_Size,TSH_Result,T4_Result,T3_Result
0,TRAIN_00000,80,M,CHN,ASN,Positive,Exposed,Sufficient,Non-Smoker,Not Obese,No,0.650355,2.784735,6.744603,2.575820
1,TRAIN_00001,37,M,NGA,ASN,Positive,Unexposed,Sufficient,Smoker,Obese,No,2.950430,0.911624,7.303305,2.505317
2,TRAIN_00002,71,M,CHN,MDE,Positive,Unexposed,Sufficient,Non-Smoker,Not Obese,Yes,2.200023,0.717754,11.137459,2.381080
3,TRAIN_00003,40,F,IND,HSP,Negative,Unexposed,Sufficient,Non-Smoker,Obese,No,3.370796,6.846380,10.175254,0.753023
4,TRAIN_00004,53,F,CHN,CAU,Negative,Unexposed,Sufficient,Non-Smoker,Not Obese,No,4.230048,0.439519,7.194450,0.569356
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
87154,TRAIN_87154,65,F,IND,ASN,Positive,Unexposed,Sufficient,Non-Smoker,Not Obese,No,0.510802,3.786859,4.838150,0.625754
87155,TRAIN_87155,53,M,NGA,ASN,Negative,Unexposed,Sufficient,Non-Smoker,Obese,No,0.980413,4.335395,8.937716,2.728584
87156,TRAIN_87156,29,F,RUS,CAU,Negative,Unexposed,Sufficient,Non-Smoker,Not Obese,No,0.180998,5.724924,4.847265,3.318609
87157,TRAIN_87157,52,F,IND,ASN,Positive,Unexposed,Sufficient,Non-Smoker,Not Obese,No,2.420773,4.978069,10.867191,2.259199
87158,TRAIN_87158,81,F,USA,CAU,Negative,Exposed,Sufficient,Non-Smoker,Not Obese,No,4.800598,1.353310,11.505252,3.335156

In [78]:
train_input['Race'].unique()

array(['ASN', 'MDE', 'HSP', 'CAU', 'AFR'], dtype=object)

In [79]:
train_input['Age'].max()

88

In [80]:
bins = [0, 19, 29, 39, 49, 59, 69, 79, 100]
labels = ['0-19', '20s', '30s', '40s', '50s', '60s', '70s', '80-']

train_input['age_group'] = pd.cut(train_input['Age'], bins=bins, labels=labels)

In [81]:
train_input['Country'].unique()

array(['CHN', 'NGA', 'IND', 'USA', 'GBR', 'BRA', 'RUS', 'JPN', 'KOR',
       'DEU'], dtype=object)

In [82]:
# one-hot encoding
onehot_cols = ['Gender', 'Country', 'Race', 'Family_Background', 'Radiation_History', 'Iodine_Deficiency', 'Smoke', 'Weight_Risk', 'Diabetes', 'age_group']

train_input = pd.get_dummies(train_input, columns=onehot_cols, drop_first=False)

In [83]:
train_input.drop(['Age', 'ID'], axis=1, inplace=True)

In [84]:
train_input.head()

,Nodule_Size,TSH_Result,T4_Result,T3_Result,Gender_F,Gender_M,Country_BRA,Country_CHN,Country_DEU,Country_GBR,...,Diabetes_No,Diabetes_Yes,age_group_0-19,age_group_20s,age_group_30s,age_group_40s,age_group_50s,age_group_60s,age_group_70s,age_group_80-
0,0.650355,2.784735,6.744603,2.575820,False,True,False,True,False,False,...,True,False,False,False,False,False,False,False,False,True
1,2.950430,0.911624,7.303305,2.505317,False,True,False,False,False,False,...,True,False,False,False,True,False,False,False,False,False
2,2.200023,0.717754,11.137459,2.381080,False,True,False,True,False,False,...,False,True,False,False,False,False,False,False,True,False
3,3.370796,6.846380,10.175254,0.753023,True,False,False,False,False,False,...,True,False,False,False,False,True,False,False,False,False
4,4.230048,0.439519,7.194450,0.569356,True,False,False,True,False,False,...,True,False,False,False,False,False,True,False,False,False

In [85]:
train_input.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 87159 entries, 0 to 87158
Data columns (total 41 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Nodule_Size                   87159 non-null  float64
 1   TSH_Result                    87159 non-null  float64
 2   T4_Result                     87159 non-null  float64
 3   T3_Result                     87159 non-null  float64
 4   Gender_F                      87159 non-null  bool
 5   Gender_M                      87159 non-null  bool
 6   Country_BRA                   87159 non-null  bool
 7   Country_CHN                   87159 non-null  bool
 8   Country_DEU                   87159 non-null  bool
 9   Country_GBR                   87159 non-null  bool
 10  Country_IND                   87159 non-null  bool
 11  Country_JPN                   87159 non-null  bool
 12  Country_KOR                   87159 non-null  bool
 13  Country_NGA                   87159 non-null  bool
 14  Country_RUS                   87159 non-null  bool
 15  Country_USA                   87159 non-null  bool
 16  Race_AFR                      87159 non-null  bool
 17  Race_ASN                      87159 non-null  bool
 18  Race_CAU                      87159 non-null  bool
 19  Race_HSP                      87159 non-null  bool
 20  Race_MDE                      87159 non-null  bool
 21  Family_Background_Negative    87159 non-null  bool
 22  Family_Background_Positive    87159 non-null  bool
 23  Radiation_History_Exposed     87159 non-null  bool
 24  Radiation_History_Unexposed   87159 non-null  bool
 25  Iodine_Deficiency_Deficient   87159 non-null  bool
 26  Iodine_Deficiency_Sufficient  87159 non-null  bool
 27  Smoke_Non-Smoker              87159 non-null  bool
 28  Smoke_Smoker                  87159 non-null  bool
 29  Weight_Risk_Not Obese         87159 non-null  bool
 30  Weight_Risk_Obese             87159 non-null  bool
 31  Diabetes_No                   87159 non-null  bool
 32  Diabetes_Yes                  87159 non-null  bool
 33  age_group_0-19                87159 non-null  bool
 34  age_group_20s                 87159 non-null  bool
 35  age_group_30s                 87159 non-null  bool
 36  age_group_40s                 87159 non-null  bool
 37  age_group_50s                 87159 non-null  bool
 38  age_group_60s                 87159 non-null  bool
 39  age_group_70s                 87159 non-null  bool
 40  age_group_80-                 87159 non-null  bool
dtypes: bool(37), float64(4)
memory usage: 5.7 MB

In [86]:
# 중요한 컬럼 선택 with Random Forest
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import cross_validate

rf = RandomForestClassifier(n_jobs=-1, random_state=42)
scores = cross_validate(rf, train_input, train_target, return_train_score=True, n_jobs=-1)

print(np.mean(scores['train_score']), np.mean(scores['test_score']))

0.9999627118419674 0.8811252846699116

In [87]:
rf = RandomForestClassifier(random_state=42)
rf.fit(train_input, train_target)
importances = rf.feature_importances_

feature_names = train_input.columns
feature_imp_df = pd.DataFrame({
    'feature': feature_names,
    'importance': importances
}).sort_values(ascending=False, by='importance')

feature_imp_df

                         feature  importance
1                     TSH_Result    0.138369
2                      T4_Result    0.138308
3                      T3_Result    0.138031
0                    Nodule_Size    0.134358
17                      Race_ASN    0.040921
10                   Country_IND    0.032886
21    Family_Background_Negative    0.024951
16                      Race_AFR    0.024341
22    Family_Background_Positive    0.018796
25   Iodine_Deficiency_Deficient    0.016918
26  Iodine_Deficiency_Sufficient    0.014966
18                      Race_CAU    0.012778
5                       Gender_M    0.012093
4                       Gender_F    0.011876
30             Weight_Risk_Obese    0.011052
29         Weight_Risk_Not Obese    0.011043
39                 age_group_70s    0.010484
34                 age_group_20s    0.010416
35                 age_group_30s    0.010414
38                 age_group_60s    0.010350
36                 age_group_40s    0.010320
37                 age_group_50s    0.010279
23     Radiation_History_Exposed    0.010215
24   Radiation_History_Unexposed    0.010046
32                  Diabetes_Yes    0.009935
27              Smoke_Non-Smoker    0.009838
31                   Diabetes_No    0.009827
40                 age_group_80-    0.009648
28                  Smoke_Smoker    0.009592
19                      Race_HSP    0.009410
13                   Country_NGA    0.008799
7                    Country_CHN    0.008754
6                    Country_BRA    0.007929
33                age_group_0-19    0.007840
14                   Country_RUS    0.007782
20                      Race_MDE    0.007416
11                   Country_JPN    0.006748
12                   Country_KOR    0.006605
9                    Country_GBR    0.005485
8                    Country_DEU    0.005477
15                   Country_USA    0.004703

In [88]:
after_rf_drop_cols = [col for col in train_input.columns if 'Smoke' in col or 'Diabetes' in col or 'Country' in col]
train_dropped = train_input.drop(columns=after_rf_drop_cols)

In [89]:
train_dropped.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 87159 entries, 0 to 87158
Data columns (total 27 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Nodule_Size                   87159 non-null  float64
 1   TSH_Result                    87159 non-null  float64
 2   T4_Result                     87159 non-null  float64
 3   T3_Result                     87159 non-null  float64
 4   Gender_F                      87159 non-null  bool
 5   Gender_M                      87159 non-null  bool
 6   Race_AFR                      87159 non-null  bool
 7   Race_ASN                      87159 non-null  bool
 8   Race_CAU                      87159 non-null  bool
 9   Race_HSP                      87159 non-null  bool
 10  Race_MDE                      87159 non-null  bool
 11  Family_Background_Negative    87159 non-null  bool
 12  Family_Background_Positive    87159 non-null  bool
 13  Radiation_History_Exposed     87159 non-null  bool
 14  Radiation_History_Unexposed   87159 non-null  bool
 15  Iodine_Deficiency_Deficient   87159 non-null  bool
 16  Iodine_Deficiency_Sufficient  87159 non-null  bool
 17  Weight_Risk_Not Obese         87159 non-null  bool
 18  Weight_Risk_Obese             87159 non-null  bool
 19  age_group_0-19                87159 non-null  bool
 20  age_group_20s                 87159 non-null  bool
 21  age_group_30s                 87159 non-null  bool
 22  age_group_40s                 87159 non-null  bool
 23  age_group_50s                 87159 non-null  bool
 24  age_group_60s                 87159 non-null  bool
 25  age_group_70s                 87159 non-null  bool
 26  age_group_80-                 87159 non-null  bool
dtypes: bool(23), float64(4)
memory usage: 4.6 MB

In [90]:
# 중요한 컬럼 선택 with Random Forest
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import cross_validate

rf = RandomForestClassifier(n_jobs=-1, random_state=42)
scores = cross_validate(rf, train_dropped, train_target, return_train_score=True, n_jobs=-1)

print(np.mean(scores['train_score']), np.mean(scores['test_score']))

0.999945502030462 0.8813777012722477

In [91]:
rf = RandomForestClassifier(random_state=42)
rf.fit(train_dropped, train_target)
importances = rf.feature_importances_

feature_names = train_dropped.columns
feature_imp_df = pd.DataFrame({
    'feature': feature_names,
    'importance': importances
}).sort_values(ascending=False, by='importance')

feature_imp_df

                         feature  importance
1                     TSH_Result    0.189133
2                      T4_Result    0.188605
3                      T3_Result    0.188434
0                    Nodule_Size    0.180278
7                       Race_ASN    0.039189
6                       Race_AFR    0.023343
11    Family_Background_Negative    0.020119
12    Family_Background_Positive    0.017018
8                       Race_CAU    0.012522
13     Radiation_History_Exposed    0.009623
14   Radiation_History_Unexposed    0.009493
5                       Gender_M    0.009229
4                       Gender_F    0.009217
9                       Race_HSP    0.008845
18             Weight_Risk_Obese    0.008226
17         Weight_Risk_Not Obese    0.008219
24                 age_group_60s    0.008204
25                 age_group_70s    0.008036
20                 age_group_20s    0.008033
21                 age_group_30s    0.008032
22                 age_group_40s    0.007934
23                 age_group_50s    0.007858
26                 age_group_80-    0.007358
10                      Race_MDE    0.007135
19                age_group_0-19    0.006238
16  Iodine_Deficiency_Sufficient    0.005029
15   Iodine_Deficiency_Deficient    0.004649

In [92]:
after_rf_drop_cols = [col for col in train_dropped.columns if 'age' in col or 'Iodine' in col or 'Weight' in col]
train_dropped = train_dropped.drop(columns=after_rf_drop_cols)

In [93]:
# 중요한 컬럼 선택 with Random Forest
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import cross_validate

rf = RandomForestClassifier(n_jobs=-1, random_state=42)
scores = cross_validate(rf, train_dropped, train_target, return_train_score=True, n_jobs=-1)

print(np.mean(scores['train_score']), np.mean(scores['test_score']))

0.9999282919721406 0.8809646796183122

In [94]:
rf = RandomForestClassifier(random_state=42)
rf.fit(train_dropped, train_target)
importances = rf.feature_importances_

feature_names = train_dropped.columns
feature_imp_df = pd.DataFrame({
    'feature': feature_names,
    'importance': importances
}).sort_values(ascending=False, by='importance')

feature_imp_df

                        feature  importance
2                     T4_Result    0.222835
1                    TSH_Result    0.222410
3                     T3_Result    0.221577
0                   Nodule_Size    0.201152
7                      Race_ASN    0.038059
6                      Race_AFR    0.020864
11   Family_Background_Negative    0.017603
12   Family_Background_Positive    0.015246
13    Radiation_History_Exposed    0.008887
8                      Race_CAU    0.008047
14  Radiation_History_Unexposed    0.006673
9                      Race_HSP    0.006513
10                     Race_MDE    0.005359
5                      Gender_M    0.002401
4                      Gender_F    0.002372

In [95]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import RandomizedSearchCV
import numpy as np

# 탐색할 파라미터 범위 설정
param_distributions = {
    'max_depth': [3, 5, 7, 10, 15, None],
    'min_samples_leaf': [1, 2, 5, 10, 20, 50],
    'n_estimators': [50, 100, 200],  # 트리 개수도 같이 튜닝
}

# 모델 정의
rf = RandomForestClassifier(n_jobs=-1, random_state=42)

# RandomizedSearchCV 설정
from sklearn.model_selection import StratifiedKFold
cv = StratifiedKFold(n_splits=5, shuffle=True, random_state=42)

search = RandomizedSearchCV(
    rf,
    param_distributions=param_distributions,
    n_iter=20,  # 무작위 조합 20개만 시도
    cv=cv,
    scoring='accuracy',
    n_jobs=-1,
    random_state=42,
    return_train_score=True
)

# 학습
search.fit(train_input, train_target)

# 결과 출력
print("Best Params:", search.best_params_)
print("Train Score:", search.cv_results_['mean_train_score'][search.best_index_])
print("Test Score :", search.best_score_)

Best Params: {'n_estimators': 200, 'min_samples_leaf': 2, 'max_depth': 15}
Train Score: 0.9316163579081476
Test Score : 0.8816416022168729

In [96]:
df_test = pd.read_csv("../data/test.csv")
df_test.head()

,ID,Age,Gender,Country,Race,Family_Background,Radiation_History,Iodine_Deficiency,Smoke,Weight_Risk,Diabetes,Nodule_Size,TSH_Result,T4_Result,T3_Result
0,TEST_00000,53,M,NGA,CAU,Negative,Unexposed,Sufficient,Non-Smoker,Not Obese,No,2.940678,6.434501,9.227958,2.733846
1,TEST_00001,46,M,KOR,MDE,Negative,Unexposed,Deficient,Smoker,Obese,No,3.450129,4.729535,5.937664,0.775012
2,TEST_00002,78,F,IND,ASN,Negative,Exposed,Sufficient,Non-Smoker,Obese,No,4.680720,5.663475,10.455964,1.259896
3,TEST_00003,69,F,KOR,CAU,Negative,Unexposed,Sufficient,Non-Smoker,Not Obese,No,4.280588,7.473752,8.785335,2.826138
4,TEST_00004,77,F,KOR,CAU,Positive,Unexposed,Sufficient,Non-Smoker,Obese,No,3.380094,7.099987,8.737063,3.453563

In [ ]:
# 최적 모델 가져오기
best_model = search.best_estimator_

# 테스트 데이터 정확도 평가
test_score = best_model.score(test_input, test_target)
print("Test Set Accuracy:", test_score)