In [1]:
import pandas as pd
import numpy as np

In [2]:
df_train = pd.read_csv("../data/train.csv")
df_train.head()

,ID,Age,Gender,Country,Race,Family_Background,Radiation_History,Iodine_Deficiency,Smoke,Weight_Risk,Diabetes,Nodule_Size,TSH_Result,T4_Result,T3_Result,Cancer
0,TRAIN_00000,80,M,CHN,ASN,Positive,Exposed,Sufficient,Non-Smoker,Not Obese,No,0.650355,2.784735,6.744603,2.575820,1
1,TRAIN_00001,37,M,NGA,ASN,Positive,Unexposed,Sufficient,Smoker,Obese,No,2.950430,0.911624,7.303305,2.505317,1
2,TRAIN_00002,71,M,CHN,MDE,Positive,Unexposed,Sufficient,Non-Smoker,Not Obese,Yes,2.200023,0.717754,11.137459,2.381080,0
3,TRAIN_00003,40,F,IND,HSP,Negative,Unexposed,Sufficient,Non-Smoker,Obese,No,3.370796,6.846380,10.175254,0.753023,0
4,TRAIN_00004,53,F,CHN,CAU,Negative,Unexposed,Sufficient,Non-Smoker,Not Obese,No,4.230048,0.439519,7.194450,0.569356,1

In [3]:
df_train['Race'].unique()

array(['ASN', 'MDE', 'HSP', 'CAU', 'AFR'], dtype=object)

In [4]:
df_train['Age'].max()

np.int64(88)

In [8]:
bins = [0, 19, 29, 39, 49, 59, 69, 79, 100]
labels = ['0-19', '20s', '30s', '40s', '50s', '60s', '70s', '80-']

df_train['age_group'] = pd.cut(df_train['Age'], bins=bins, labels=labels)

In [10]:
df_train['Country'].unique()

array(['CHN', 'NGA', 'IND', 'USA', 'GBR', 'BRA', 'RUS', 'JPN', 'KOR',
       'DEU'], dtype=object)

In [ ]:
# one-hot encoding
onehot_cols = ['Gender', 'Country', 'Race', 'Family_Background', 'Radiation_History', 'Iodine_Deficiency', 'Smoke', 'Weight_Risk', 'Diabetes', 'age_group']

df_encoded = pd.get_dummies(df_train, columns=onehot_cols, drop_first=False)

In [13]:
df_encoded.drop('Age', axis=1, inplace=True)

In [14]:
df_encoded.head()

,ID,Nodule_Size,TSH_Result,T4_Result,T3_Result,Cancer,Gender_F,Gender_M,Country_BRA,Country_CHN,...,Diabetes_No,Diabetes_Yes,age_group_0-19,age_group_20s,age_group_30s,age_group_40s,age_group_50s,age_group_60s,age_group_70s,age_group_80-
0,TRAIN_00000,0.650355,2.784735,6.744603,2.575820,1,False,True,False,True,...,True,False,False,False,False,False,False,False,False,True
1,TRAIN_00001,2.950430,0.911624,7.303305,2.505317,1,False,True,False,False,...,True,False,False,False,True,False,False,False,False,False
2,TRAIN_00002,2.200023,0.717754,11.137459,2.381080,0,False,True,False,True,...,False,True,False,False,False,False,False,False,True,False
3,TRAIN_00003,3.370796,6.846380,10.175254,0.753023,0,True,False,False,False,...,True,False,False,False,False,True,False,False,False,False
4,TRAIN_00004,4.230048,0.439519,7.194450,0.569356,1,True,False,False,True,...,True,False,False,False,False,False,True,False,False,False

In [18]:
df_encoded.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 87159 entries, 0 to 87158
Data columns (total 43 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   ID                            87159 non-null  object
 1   Nodule_Size                   87159 non-null  float64
 2   TSH_Result                    87159 non-null  float64
 3   T4_Result                     87159 non-null  float64
 4   T3_Result                     87159 non-null  float64
 5   Cancer                        87159 non-null  int64
 6   Gender_F                      87159 non-null  bool
 7   Gender_M                      87159 non-null  bool
 8   Country_BRA                   87159 non-null  bool
 9   Country_CHN                   87159 non-null  bool
 10  Country_DEU                   87159 non-null  bool
 11  Country_GBR                   87159 non-null  bool
 12  Country_IND                   87159 non-null  bool
 13  Country_JPN                   87159 non-null  bool
 14  Country_KOR                   87159 non-null  bool
 15  Country_NGA                   87159 non-null  bool
 16  Country_RUS                   87159 non-null  bool
 17  Country_USA                   87159 non-null  bool
 18  Race_AFR                      87159 non-null  bool
 19  Race_ASN                      87159 non-null  bool
 20  Race_CAU                      87159 non-null  bool
 21  Race_HSP                      87159 non-null  bool
 22  Race_MDE                      87159 non-null  bool
 23  Family_Background_Negative    87159 non-null  bool
 24  Family_Background_Positive    87159 non-null  bool
 25  Radiation_History_Exposed     87159 non-null  bool
 26  Radiation_History_Unexposed   87159 non-null  bool
 27  Iodine_Deficiency_Deficient   87159 non-null  bool
 28  Iodine_Deficiency_Sufficient  87159 non-null  bool
 29  Smoke_Non-Smoker              87159 non-null  bool
 30  Smoke_Smoker                  87159 non-null  bool
 31  Weight_Risk_Not Obese         87159 non-null  bool
 32  Weight_Risk_Obese             87159 non-null  bool
 33  Diabetes_No                   87159 non-null  bool
 34  Diabetes_Yes                  87159 non-null  bool
 35  age_group_0-19                87159 non-null  bool
 36  age_group_20s                 87159 non-null  bool
 37  age_group_30s                 87159 non-null  bool
 38  age_group_40s                 87159 non-null  bool
 39  age_group_50s                 87159 non-null  bool
 40  age_group_60s                 87159 non-null  bool
 41  age_group_70s                 87159 non-null  bool
 42  age_group_80-                 87159 non-null  bool
dtypes: bool(37), float64(4), int64(1), object(1)
memory usage: 7.1+ MB